<div id="product-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeProductModal()">&times;</span>
        
        <div class="modal-img-div">
            <button class="prev-btn" onclick="prevImage()">&#10094;</button>
            <img id="modal-image" src="" alt="product" class="modal-img">
            <button class="next-btn" onclick="nextImage()">&#10095;</button> 
        </div>
        
        <h2 id="modal-title"></h2>
        <p id="modal-price"></p>
        <button class="contribute-btn" onclick="addToCart()">Подтвердить</button>
    </div>
</div>

